body {
    background-image: url("http://www.tokkoro.com/picsup/2909511-breaking-bad___movie-wallpapers.jpg");
    background-size:cover;
    color: white;
    font-family: 'Carrois Gothic', sans-serif;
}
h3 {
    text-align: center;
    padding: 25px;
}
/* money boxes */
.allowance, .purchases {
    font-size: 100px;
    color: black;
    text-align: center;
    background-color: #fafafa;
    height: 200px;
    width: 300px;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    margin: 15px;
    padding-top: 20px;
}
/* game box */
.tally {
    font-size: 15px;
    color: black;
    background-color: #fafafa;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    margin: 15px;
    padding: 3px 3px 3px 3px;
}
/* rocks */
.jewel_box {
    margin: 2%;
    background-color: #fafafa;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: #eaeaea;
    display: inline-block;
    position: relative;
  }
  .rock_image {
    object-fit: cover;       /* Scale the image so it covers whole area, thus will likely crop */
    object-position: center; /* Center the image within the element */
    width: 100%;
    height: 200px;
    position: absolute;
  }