body {
    background-image: url("http://www.tokkoro.com/picsup/2909511-breaking-bad___movie-wallpapers.jpg");
    background-size:cover;
    color: white;
    font-family: 'Carrois Gothic', sans-serif;
}
h3 {
    text-align: center;
    padding: 25px;
}
ul {
    padding: 40px;
    color: black;

}
ul > li::before {
    content: "-";
    margin-left: -15px;
}
ul > p {
    color: black;
    text-align: center;
}
.hank
{
    font-style: italic;
}
/* all boxes */
.allowance, .purchases, .dialogs, .tally {
    background-color: #fff9c4;
    border-style: solid;
    border-color:#003300;
    border-width: 3px;
    border-color: black;    
}
.allowance, .purchases, .tally {
    color: #003300;
    text-align: center;
    margin: 15px;
}
.allowance, .purchases {
    font-size: 100px;
    height: 200px;
    width: 300px;
    border-radius: 20px;
    padding-top: 20px;
}
.dialogs {
    height: 300px;
    width: 100%;
    border-radius: 20px;
    overflow: scroll;
}
.tally {
    font-size: 15px;
    background-color: #fffff7;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    padding: 3px 3px 3px 3px;
}
/* rocks */
.jewel_box {
    margin: 2%;
    background-color: #fafafa;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: #eaeaea;
    display: inline-block;
    position: relative;
  }
  .rock_image {
    object-fit: cover;       /* Scale the image so it covers whole area, thus will likely crop */
    object-position: center; /* Center the image within the element */
    width: 100%;
    height: 200px;
    position: absolute;
  }